<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand display-4 fw-bold text-xl-start" routerLink="/todo-list">Task Scheduler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/home" fragment="features-section">Features</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/home" fragment="testimonials-section">Testimonials</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" href="mailto:tbalog426@gmail.com">Contact</a>
        </li>
      </ul>
      <a class="nav-link btn btn-primary btn-lg text-white d-flex align-items-center justify-content-center"
        style="width: 100px; height: 40px;" routerLink="/login">Try it</a>
    </div>
  </div>
</nav>
