<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card p-4 shadow-sm">
          <h2 class="text-center mb-4">Forgot Password</h2>
          <form (ngSubmit)="onSubmitForgotPassword()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input 
                type="email" 
                id="email" 
                [(ngModel)]="email" 
                name="email" 
                class="form-control" 
                placeholder="Enter your email to reset password" 
                required />
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>
          </form>
  
          <p class="text-center">
            Remembered your password? 
            <a routerLink="/login" class="text-decoration-none">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  